<!DOCTYPE html>
<html>
<head>
<title></title>
<body>

    <div id="container"></div>

    <script src="/contacts/js/react-15.0.0.js"></script>
    <script src="/contacts/js/react-dom-15.0.0.js"></script>
    <script src="/contacts/js/browser.min.js"></script>

    <script type = "text/babel" src="/contacts/contacts.jsx"></script>
<style>
.contacts{
	border:1px solid black;
}
</style>



    </body>
  </html>