<!DOCTYPE html>
<head>
  <link href="/normalize.css" rel="stylesheet">
  <style>
    header {
      text-align: center;
      background-image: url("images/background.jpg");
      background-size: cover;
      background-position: center center;  
      color: white;
    }
    a {
      color: grey;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 3px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
  </style>
</head>
<body>
  <header>
    <img src="images/face.png", height="130">
    <h1>Jeff's Blog</h1>
    <ul>
      <li><a href="index.html">Homeworks</a></li>
      <li><a href="notes.html">JSD4 notes</a></li>
      <li><a href="about.html">About me</a></li>
    </ul>
  </header>
   <article>
   <h2> <a href="starter/formulas.html">Homework 1: Formulas</a> </h2>
   <h2> <a href="madlibs/madlibs.html">Homework 2: Madlibs</a> </h2>
   <h2> <a href="converting-json/converting-json.html">Homework 3: Converting JSON</a> </h2>
   <h2> <a href="99-bottles/99-bottles.html">Homework 4: 99 Bottles</a> </h2>
   <h2> <a href="traffic-light/traffic-light.html">Homework 5: Traffic Light</a> </h2>
   <h2> <a href="movie-search/movie-search.html">Homework 6: Movie Search</a> </h2>
   <h2> <a href="feedr/feedr.html">Homework 7: Feedr</a> </h2>
   <h2> <a href="criam/feedr.html">Final Project: CrimeTap</a> </h2>
   </article>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $("button").on("click", function() {
      alert("Clicked!");
    });
  </script>

  
<script>

var url = "/timeline";

$.getJSON(url, handleTweets);

function handleTweets(json){
  console.log("handleTweets", json)
}

</script>
</body>