<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<body>
<link rel="stylesheet" href="crimeTap/css/sky-forms.css">
<link rel="stylesheet" type="text/css" href="crimeTap/css/sweetalert.css">
<link rel="stylesheet" type="text/css" href="crimeTap/css/geolocation.css">

<form action="" class="sky-form">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a><label class="h1"><strong>Demo</strong></label></a>
    <a><div class="row" id="locationField">
            <label class="input">
              <section>
              <input id="fn" name="" placeholder="First name" type="text" style="width:270px; font-size: 12px"></input>
              </section><section>
              <input id="ln" name="" placeholder="Last name" type="text" style="width:270px; font-size: 12px"></input>
              </section><section>
              <input id="amount" name="" placeholder="Loan amount ($)" type="text" style="width:270px; font-size: 12px"></input>
            </label>
          </section>
            <label class="checkbox"><input type="checkbox" name="cra" id="cra"><i></i>I want to credit report loan</label>
        </div></a>


      <a><button class="button" id="sign">Take out loan</button></a>
  </div>

  <div id="main">
    <header style="cursor:pointer" onclick="openNav()">LEmail</header>
    <fieldset>
      <section class="col col-5">    
      <label class="h3"><strong> SendWithUs</strong> </label>
      <br>
      <label class="h1">Transactional Emails</label>
<!--     <a><label class="toggle"><input type="radio" name="radio-toggle1" id="loan1" checked=""/><i></i>New customer - took out loan</label></a> -->
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="due1"/><i></i>Payment is due</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="paid1"/><i></i>Loan paid off on time</label></a>
    <label class="h1">Drip Emails</label>
        <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>No activity for 3 months</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>Started application but did not finish</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="dq"/><i></i>Delinquent for 7 days</label></a>
        <label class="h1">Email Blasts</label>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>Tried to make a payment but failed</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>Annual Privacy Notice</label></a>
    <br>
    <a><button class="button" id="button1">Action</button></a>
      
      </section>
      <section class="col col-2">
        </section>


     <section class="col col-5">
      <label class="h3"><strong> Customer.io</strong> </label>
      <br>
      <label class="h1">Transactional Emails</label>
<!--     <a><label class="toggle"><input type="radio" name="radio-toggle1" id="loan2" checked=""/><i></i>New customer - took out loan</label></a> -->
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="due2"/><i></i>Payment is due</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="paid2"/><i></i>Loan paid off on time</label></a>


    <label class="h1">Drip Emails</label>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="noaction1"/><i></i>No activity for 3 months</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>Started application but did not finish</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>Delinquent for 7 days</label></a>
    <label class="h1">Email Blasts</label>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id="payfail1"/><i></i>Tried to make a payment but failed</label></a>
    <a><label class="toggle"><input type="radio" name="radio-toggle1" id=""/><i></i>Annual Privacy Notice</label></a>
    <br>
    <a><button class="button" id="button2">Action</button></a>
      
      </section>
      </fieldset>
  <footer>LendUp Let Me Email</footer>
  </div>
  
</form>

<div id="loader1" class=""></div>
<div id="loader" class=""></div>

<div>
</div>

</body>
</html>

<!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script src="luhack/js/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="luhack/js/project.js" type="text/javascript"></script>